<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GeoHyperstar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpMap" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.4140.32562" newVersion="0.9.4140.32562"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpMap" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.4140.32562" newVersion="0.9.4140.32562"/>
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5D8B90D52F46FDA7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.11.0" newVersion="2.0.11.0"/>
			</dependentAssembly>
		</assemblyBinding>
  </runtime>
  <userSettings>
    <GeoHyperstar.Properties.Settings>
      <setting name="Mesh533935" serializeAs="String">
        <value>Server=192.168.11.12;DataBase=Tokyo_533935;Port=5432;Userid=postgres;password=password</value>
      </setting>
      <setting name="USNetwork" serializeAs="String">
        <value>Server=192.168.11.12;DataBase=US_Network;Port=5432;Userid=postgres;password=password</value>
      </setting>
      <setting name="TestNetwork" serializeAs="String">
        <value>Server=192.168.11.12;DataBase=Test_Network;Port=5432;Userid=postgres;password=password</value>
      </setting>
      <setting name="DefaultCon" serializeAs="String">
        <value>Server=192.168.11.12;DataBase=Test_Network;Port=5432;Userid=postgres;password=password</value>
      </setting>
    </GeoHyperstar.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="tokyo" connectionString="Server=192.168.11.12;
         DataBase= Tokyo_533935; 
         Port=5432;
         Userid= postgres;
         password=password;
         Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;EnCoding=UNICODE;Timeout=15;SslMode=Disable"/>
    <add name="US" connectionString="Server=192.168.11.12;
         DataBase= US_Network; 
         Port=5432;
         Userid= postgres;
         password=password;
         Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;EnCoding=UNICODE;Timeout=15;SslMode=Disable"/>
    <add name="Test" connectionString="Server=192.168.11.12;
         DataBase= Test_Network; 
         Port=5432;
         Userid= postgres;
         password=password;
         Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;EnCoding=UNICODE;Timeout=15;SslMode=Disable"/>
    <add name="NewYork" connectionString="Server=192.168.11.12;
         DataBase= NewYork; 
         Port=5432;
         Userid= postgres;
         password=password;
         Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;EnCoding=UNICODE;Timeout=15;SslMode=Disable"/>
  </connectionStrings>
  <appSettings>
    <add key="road" value="road"/>
  </appSettings>
</configuration>
