<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="tokyo" connectionString="Server=localhost;
         DataBase= postgis2; 
         Port=5432;
         Userid= postgres;
         password=password;
         Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;EnCoding=UNICODE;Timeout=15;SslMode=Disable"/>
  </connectionStrings>
  <appSettings>

    <add key="road" value="road"/>
  </appSettings>
</configuration>